@font-face {
    font-family: "Kids Scrawl";
    src: url("Kids_Scrawl.ttf");
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (max--moz-device-pixel-ratio: 2) {
    body {
        background-image: url("handmadepaper_@2X.png");
        background-size: 100px 100px;
    }
}
@media screen and (max-width: 320px) {
    body {
        font-size: 24px;
    }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
    body {
        font-size: 30px;
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: 36px;
    }
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("handmadepaper.png");
    margin: 0;
}
h1 {
    background: #ffffcc;
    background: linear-gradient(to bottom, rgba(255, 255, 204, 1), rgba(255, 255, 204, 0));
    font-size: 1.25em;
    margin: 0 0 -1.8em;
    padding: 0.2em 0 1.9em;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
}
h2 {
    font-size: 0.9em;
    margin: 0 0 0.23em;
}
.uberSudoku .grid {
    background: #ffffff;
    border: solid 0.2em #444444;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
    margin: 0 auto;
    text-align: center;
}
.uberSudoku .grid tr:nth-of-type(3n) .cell {
    border-bottom: solid 0.1em #888888;
}
.uberSudoku .grid tr .cell:nth-of-type(3n) {
    border-right: solid 0.1em #888888;
}
.uberSudoku .grid .cell {
    border: solid 0.05em #cccccc;
    font-size: 1em;
    padding: 0;
}
.uberSudoku .grid .cell input {
    -moz-appearance: textfield;
    border: none;
    color: #2000dd;
    font-family: "Kids Scrawl";
    font-size: 1em;
    font-weight: bold;
    height: 1.25em;
    padding: 0;
    text-align: center;
    width: 1.25em;
}
.uberSudoku .grid .cell input:focus {
    outline: -webkit-focus-ring-color auto 5px;
}
.uberSudoku .grid .cell input[readonly] {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.uberSudoku .grid .cell.conflict input {
    background: #ffaa88;
}
.uberSudoku .grid .cell.pencil input {
    background: #dddddd;
}
.uberSudoku .popup {
    background: #ffffcc;
    border-radius: 0.4em;
    border: solid 0.04em #aaaaaa;
    box-shadow: rgba(0, 0, 0, 0.5) 0.15em 0.15em 0.4em;
    display: none;
    font-size: 0.75em;
    left: 50%;
    padding: 0.25em;
    position: fixed;
    text-align: center;
    top: 50%;
}
.uberSudoku button {
    background: #0033aa;
    border-color: #004cff;
    border-radius: 0.3em;
    color: #dddddd;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.55em;
    margin: 0.3em 0;
    padding: 0.25em;
}
.uberSudoku .difficultyPopup {
    width: 8.5em;
}
.uberSudoku .difficultyPopup button {
    font-size: 0.6em;
    width: 6em;
}
.uberSudoku .difficultyPopup .xContainer {
    text-align: right;
    margin: 0 0 -1em;
}
.uberSudoku .difficultyPopup .xContainer .closeButton {
    width: auto;
    font-size: 0.45em;
}
.uberSudoku .winPopup p {
    margin: 0.3em 0 0.6em;
}
.uberSudoku .newGameContainer {
    margin: 0 1.9em 0 0;
    text-align: right;
}
