@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (max--moz-device-pixel-ratio: 2) {
    body {
        background-image: url("handmadepaper_@2X.png");
        background-size: 100px 100px;
    }
}
body {
    background-image: url("handmadepaper.png");
}
h1 {
    background: #ffffcc;
    background: linear-gradient(to bottom, rgba(255, 255, 204, 1), rgba(255, 255, 204, 0));
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin: 0 0 -45px;
    padding: 5px 0 50px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
.uberSudoku .grid {
    background: #ffffff;
    border: solid 5px #444444;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
    margin: 0 auto;
    text-align: center;
}
.uberSudoku .grid tr:nth-of-type(3n) .cell {
    border-bottom: solid 2px #888888;
}
.uberSudoku .grid tr .cell:nth-of-type(3n) {
    border-right: solid 2px #888888;
}
.uberSudoku .grid .cell {
    border: solid 1px #cccccc;
    font-size: 26px;
    padding: 0;
}
.uberSudoku .grid .cell input {
    -moz-appearance:textfield;
    border: none;
    color: #3f78ff;
    font-family: cursive;
    font-size: 26px;
    font-weight: bold;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 32px;
}
.uberSudoku .grid .cell input::-webkit-outer-spin-button,
.uberSudoku .grid .cell input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.uberSudoku .grid .cell input[readonly] {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.uberSudoku .grid .cell.conflict input {
    background: #ffaa88;
}
.uberSudoku .grid .cell.pencil input {
    background: #dddddd;
}
.uberSudoku .grid .cell input:-moz-ui-invalid {
    box-shadow: none;
}
