h1 {
    background: #ffffcc;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 0 5px;
    padding: 5px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
.uberSudoku .grid {
    border: solid 5px #444444;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}
.uberSudoku .grid tr:nth-of-type(3n) td {
    border-bottom: solid 2px #888888;
}
.uberSudoku .grid tr td:nth-of-type(3n) {
    border-right: solid 2px #888888;
}
.uberSudoku .grid td {
    border: solid 1px #cccccc;
    padding: 0;
}
.uberSudoku .grid td input {
    border: none;
    font-size: 28px;
    height: 36px;
    padding: 0;
    text-align: center;
    width: 36px;
}
.uberSudoku .grid td.invalid input, .uberSudoku .grid td.conflict input {
    background: #ffaa88;
}
